@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.arrow-animation {
  animation: arrow-bounce 0.5s ease-in-out infinite alternate;
}

@keyframes arrow-bounce {
  from {
    transform: translateY(0) rotate(45deg);
  }
  to {
    transform: translateY(-3px) rotate(45deg);
  }
}


@media (min-width: 769px) {
  .social-links {
    display: flex;               /* Use flexbox for row layout */
    flex-direction: row;          /* Align items in a row */
    justify-content: center;     /* Center items horizontally */
    gap: 20px;                   /* Add spacing between icons */
  }
}

@media (max-width: 768px) {
  .social-links {
    flex-direction: column;      /* Stack items vertically on mobile */
  }
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  50% {
    border-right-color: transparent; /* Pause after "Hossain" */
  }
  to {
    width: 100%;
  }
}

/* Reverse Typing Animation */
@keyframes typing-reverse {
  from {
    width: 100%;
  }
  50% {
    border-right-color: transparent; /* Pause before removing space */
  }
  to {
    width: 0;
  }
}

/* Typing Pause Effect */
.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #4EF17A;
  animation: typing 3s steps(30, end), typing-pause 3s steps(30, start), typing-reverse 3s steps(30, end) 3s infinite alternate-reverse;
}

/* Typing pause effect */
@keyframes typing-pause {
  from {
    border-right-color: #4EF17A;
  }
  50% {
    border-right-color: transparent;
  }
}

h1, h2 {
  font-family: 'Space Grotesk', sans-serif;
}
