@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.arrow-animation {
  animation: arrow-bounce 0.5s ease-in-out infinite alternate;
}

@keyframes arrow-bounce {
  from {
    transform: translateY(0) rotate(45deg);
  }
  to {
    transform: translateY(-3px) rotate(45deg);
  }
}


@media (min-width: 769px) {
  .social-links {
    display: flex;               /* Use flexbox for row layout */
    flex-direction: row;          /* Align items in a row */
    justify-content: center;     /* Center items horizontally */
    gap: 20px;                   /* Add spacing between icons */
  }
}

@media (max-width: 768px) {
  .social-links {
    flex-direction: column;      /* Stack items vertically on mobile */
  }
}

